@import 'variable';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.top-bar {
  background-color: #f2f2f2;
  .nav-link {
    color: #333;
    font-size: 14px;
    &:hover {
      color: $color-light;
    }
  }
  .lang-switcher {
    .form-select {
      background-color: #f2f2f2;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.mobile-header {
  &.active {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
}

.header {
  background-color: #fff;
  position: relative;
  z-index: 9999;
  .rv-btn {
    cursor: pointer;
    &:hover {
      color: $color-light;
    }
  }
  .rv-wrapper {
    position: absolute;
    width: 100%;
    max-height: 180px;
    top: calc(100% - 60px);
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 99999;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    .product-box {
      max-width: 150px;
      height: 150px;
      border: 2px solid rgb(248, 247, 247);
      border-radius: 4px;
      overflow: hidden;
      transition: 0.3s ease-in-out;
      margin: 10px;

      &:hover {
        border-color: #f7b926;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .rv-item:hover .rv-wrapper {
    visibility: visible;
    opacity: 1;
  }

  .header-top {
    &.active {
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9999;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    }
    .input-group {
      width: 70%;
      .form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none !important;
        box-shadow: none !important;
      }
      .input-group-text {
        font-size: 30px;
        color: #f7b926;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: $color-light;
          color: #fff !important;
        }
      }
    }
  }

  .wishlist-btn {
    font-size: 32px;
    cursor: pointer;
    color: $color-light;
  }
  .cart-btn {
    font-size: 40px;
    color: $color-light;
    cursor: pointer;
  }
  .signin-btn {
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
  }

  .search-btn-wrapper {
    outline: none !important;
    box-shadow: none !important;
  }

  .search-btn {
    font-size: 32px;
    cursor: pointer;
    color: $color-light;
  }

  .mobile-search {
    width: 320px;
    transform: translate3d(0px, 90px, 0px) !important;
    .form-control {
      outline: none !important;
      box-shadow: none !important;
    }
    .input-group-text {
      font-size: 30px;
    }
  }

  .toggle-btn {
    .bx {
      font-size: 40px;
      color: $color-light;
    }
  }
  .shop-btn {
    margin-left: -4rem;
  }
  .mobile-logo,
  .header-logo {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .offcanvas {
    .nav-close-btn {
      font-size: 30px;
    }
    .accordion-item {
      border: 0 !important;
    }
    .accordion-header {
      .category {
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        padding: 10px 16px;
        color: #333;
        flex: 1;
        &:hover {
          color: $color-light;
        }
      }
      .accordion-button {
        width: 40px;
      }
    }
    .accordion-button {
      font-size: 18px;
      background-color: #fff;
      outline: none !important;
      box-shadow: none !important;
    }
    .nav-link {
      color: #333;

      &:hover {
        color: $color-light;
      }
    }
    .simple-link {
      font-size: 18px;
    }
  }
  .nav-tabs {
    --bs-nav-link-padding-x: 15px;
    border-color: $color-light;
    .nav-link {
      color: #333;
      a {
        text-decoration: none;
        color: #333;
      }
      &.active a {
        color: $color-light;
      }
      &:hover {
        color: $color-light;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $color-light;
      }
      &.active {
        color: $color-light;
        border-top-color: $color-light;
        border-left-color: $color-light;
        border-right-color: $color-light;
        &:hover {
          border-bottom-color: transparent;
        }
      }
    }

    .basic-item {
      margin: 0 16px;
      .basic-link {
        color: #333;
        background: 0 0;
        text-decoration: none;
        vertical-align: -webkit-baseline-middle;
        &:hover {
          color: $color-light;
        }
      }
    }
  }
  .tab-pane {
    .nav {
      --bs-nav-link-color: #333;
      padding-top: 15px;
      .nav-item {
        position: static;
        .nav-link {
          padding-right: 5px;
          color: #333;
          &:hover {
            color: $color-light;
          }
          .arrow {
            display: inline-block;
            margin-left: 2px;
            transform: rotate(270deg);
          }
        }
        //MEGA MENU
        .megamenu {
          position: absolute;
          left: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s ease;
          .megamenu-wrapper {
            background: #fff;
            padding: 10px 30px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid #e0e0e0;
            border-radius: 4px;
            ul {
              padding-top: 15px;
              padding-bottom: 15px;
              list-style: disc;
              display: flex;
              flex-direction: column;
              row-gap: 8px;
              a {
                text-decoration: none;
                color: #333;
                &:hover {
                  color: $color-light;
                }
              }
            }
          }
        }

        &:hover .megamenu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.demo-section {
  h1 {
    margin-bottom: 3rem;
  }
  &:nth-child(odd) {
    background-color: #ddd;
  }
  padding: 20rem 0;
}

@media (max-width: 1199px) {
  .nav-tabs .nav-link {
    padding: 0.5rem 0.7rem;
  }
  .header .nav-tabs .nav-link,
  .header .tab-pane .nav .nav-item .nav-link,
  .header .tab-pane .nav .nav-item .megamenu .megamenu-wrapper ul a {
    font-size: 14px;
  }
  .rv-btn {
    font-size: 14px !important;
  }
}

@media (max-width: 767px) {
  .header .mobile-logo,
  .header .header-logo {
    width: 160px;
  }
}

@media (max-width: 575px) {
  .offcanvas-start {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .shop-btn {
    margin-left: 0 !important;
    padding: 4px 6px;
    font-size: 11px;
  }
}
